apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-zjulhofu
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-zjulhofu:12d6a27c26cf4cd806b9d8c4002a353c2bfa7a52@sha256:6a9a5bfe1a5b3b9121d21baa0d325d32d00e698ce90a45253aa13e7defb62b58
          name: container-image
